      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      /* html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      } */

.title{
    background-image: url(../images/wid-BOISE.jpg);
    height: 25rem;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.title-words{
    margin-top: 5rem;
    margin-bottom: 2rem;
    text-align: left;
}
/* .row { 
    outline : 2px solid red;
    } */

    .features{
background-color: dodgerblue;
height: 20rem;
width: auto;
}    

.item{
    text-align: center;
}
.icon{
    
    text-align: center;
    font-size: 5rem;
}
.news{
    margin: 2rem;
    text-align: center;
}
.map1{
    height: 20rem;
    width: auto;
}
.footer{
    background: black;
    height: 5rem;
}