.title{
    background-image: url(wid-BOISE.jpg);
    height: 25rem;
    width: 300px auto; 
}

.title-words{
    margin-top: 5rem;
    margin-bottom: 2rem;
    text-align: left;
}
.row { 
    outline : 2px solid red;
    }

    .features{
background-color: dodgerblue;
height: 20rem;
width: auto;
}    

.item{
    text-align: center;
}
.icon{
    
    text-align: center;
    font-size: 5rem;
}
.news{
    margin: 2rem;
    text-align: center;
}