      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 100%;
      }


.title{
    background-image: url(../images/wid-BOISE.jpg);
    min-height: 25rem;
    /* background size cover looks a bit better */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.title-words{
    margin-top: 5rem;
    margin-bottom: 2rem;
    text-align: left;
}
/* .row { 
    outline : 2px solid red;
    } */

    .features{
background-color: dodgerblue;
min-height: 20rem;
width: auto;
}    

.item{
    text-align: center;
    margin-top: 10vh;
}
.icon{
    
    text-align: center;
    font-size: 5rem;
}
.news{
    margin: 2rem;
    text-align: center;
}
.map1{
    height: 20rem;
    width: auto;
}
.footer{
    background: black;
    min-height: 5rem;
}
.copy-rt{
    color: white;
    font-size: .5rem;
    text-align: right;
}
.foot-b{
    margin-left: 2vh;
    margin-right: 2vh;
}